{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

<div class=".container-fluid ml-5 mr-5">

    <a href="{% url 'create-opportunity' %}" class="btn btn-outline-primary ml-5 mt-5">Create New Opportunity</a>

    <a href="{% url 'update-opportunity' object.pk %}" class="btn btn-outline-warning ml-5 mt-5">Update This Opportunity</a>

    <a href="{% url 'delete-opportunity' object.pk %}" class="btn btn-outline-danger ml-5 mt-5">Delete This Opportunity</a>

    <div class="post-entry">
        <h1 class="mt-5 text-center">{{ object.opportunity_name }}</h1>
    </div>

    <div class="row mt-5">
            <div class="col-4 text-break">
        <h3>Opportunity Information</h3>
        <ul class="list-unstyled">
            <li>Industry: {{ object.opportunity_name }}</li>
            <li>Employees: {{ object.opportunity_company }}</li>
            <li>Last Updated: {{ object.updated }}</li>
        </ul>
    </div>

    <div class="col-4 text-break">
        <h3>Opportunity Information</h3>
        <ul class="list-unstyled">
            <li>list here</li>
        </ul>
    </div>

    <div class="col-4 text-break">
        <h3>Opportunity Information</h3>
        <ul class="list-unstyled">
            <li>list here</li>
        </ul>
    </div>
    </div>



</div>

{% endif %}

{% endblock %}