{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

<ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page"><a class="text-muted text-decoration-none" href="{% url 'dashboard' %}">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a class="text-decoration-none" href="{% url 'opportunities-list-view' %}">Opportunities</a></li>
</ol> 

{% if messages %}

<ul class="messages list-unstyled p-5 rounded">
    {% for message in messages %}
        <li {% if message.tags %} class="alert alert-{{ message.tags }} text-center" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>

{% endif %}

<div class="container mt-5">

    <h1 class="text-center">{{ user.username }}'s Opportunities</h1>

</div>

<div class=".container-fluid">

    <a href="{% url 'create-opportunity' %}" class="btn btn-outline-primary ml-2 mt-5">Create Opportunity</a>

    <div class="row">
        <div class="col-sm mt-5 ml-2 mr-2">
            <table class="table table-striped table-responsive-xs">
                <caption>List of opportunities</caption>
                <thead class="thead-dark">
                    
                    <tr>
                        <th class="listviewhide" scope="col">#</th>
                        <th scope="col">Opportunity</th> 
                        <th scope="col">Account</th>
                        <th scope="col">Value</th>
                        <th class="listviewhide" scope="col">Created</th>
                        <th class="listviewhide" scope="col">Last Updated</th>
                        <th class="listviewhide" scope="col">Progress</th>
                        <th class="listviewhide" scope="col">Owner</th>
                    </tr>

                </thead>
                <tbody>
                    {% for opportunity in opportunitiesmodel_list %}
                    <tr>
                        <th class="listviewhide" scope="row">{{ opportunity.pk }}</th>
                        <td><a href="{{ opportunity.get_absolute_url }}">{{ opportunity.opportunity_name }}</a></td>
                        <td><a href="{{ opportunity.account_name.get_absolute_url }}">{{ opportunity.account_name }}</a></td>
                        <td>{{ opportunity.opportunity_value }}</td>
                        <td class="listviewhide">{{ opportunity.created }}</td>
                        <td class="listviewhide">{{ opportunity.updated }}</td>
                        <td class="listviewhide">{{ opportunity.progress }}</td>
                        <td class="listviewhide">{{ opportunity.owner }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>

{% endif %}

{% endblock %}