{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

<ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page"><a class="text-muted text-decoration-none" href="{% url 'dashboard' %}">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a class="text-muted text-decoration-none" href="{% url 'opportunities-list-view' %}">Opportunities</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a class="text-decoration-none" href="#">{{ object.opportunity_name }}</a></li>
</ol> 

{% if messages %}

<ul class="messages list-unstyled p-5 rounded">
    {% for message in messages %}
        <li {% if message.tags %} class="alert alert-{{ message.tags }} text-center" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>

{% endif %}

<div class=".container-fluid ml-2 mr-2">

    <ul class="list-unstyled d-flex align-items-center justify-content-center">
        <li><a href="{% url 'create-opportunity' %}" class="btn btn-outline-primary ml-2 mt-5">Create a New Opportunity</a></li>
        <li><a href="{% url 'update-opportunity' object.pk %}" class="btn btn-outline-warning ml-2 mt-5">Update This Opportunity</a></li>
        <li><a href="{% url 'delete-opportunity' object.pk %}" class="btn btn-outline-danger ml-2 mt-5">Delete This Opportunity</a></li>
    </ul>  

    <div class="post-entry">
        <h1 class="mt-5 text-center">{{ object.opportunity_name }}</h1>
    </div>

    <div class="row mt-5">
        <h3 class="col-12 text-center">Opportunity Information</h3>
        <ul class="col-12 text-center list-unstyled">
            <li>Industry: {{ object.opportunity_name }}</li>
            <li>Employees: {{ object.opportunity_company }}</li>
            <li>Last Updated: {{ object.updated }}</li>
        </ul>
    </div>

</div>

{% endif %}

{% endblock %}