{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

<div class="container mt-5">

    <h1 class="text-center">Hi {{ user.username }}</h1>

</div>

<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-4 text-break">
            <h1>Recent Contacts</h1>
            <table class="table table-striped table-responsive-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Accounts</th>
                        <th scope="col">Date Created</th>
                    </tr>
                </thead>
                <tbody>
                     {% for account in accountsmodel_list %} 
                     <tr>
                         <td>{{ account.pk }}</td> 
                         <td>{{ account.account_name }}</td> 
                         <td>{{ account.created }}</td>  
                     </tr>
                     {% endfor %}   
                </tbody>
            </table>
        </div>
        <div class="col-4 text-break">
            <h1>Recent Contacts</h1>
            <table class="table table-striped table-responsive-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Contacts</th>
                        <th scope="col">Date Created</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contact in contactsmodel %} 
                    <tr>
                        <td>{{ contact.pk }}</td> 
                        <td>{{ contact.contact_name }}</td> 
                        <td>{{ contact.created }}</td>  
                    </tr>
                    {% endfor %}  
                </tbody>
            </table>
        </div>
        <div class="col-4 text-break">
            <h1>Recent Opportunities</h1>
            <table class="table table-striped table-responsive-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Opportunities</th>
                        <th scope="col">Date Created</th>
                    </tr>
                </thead>
                <tbody>
                    {% for opportunity in opportunitiesmodel %} 
                    <tr>
                        <td>{{ opportunity.pk }}</td> 
                        <td>{{ opportunity.opportunity_name }}</td> 
                        <td>{{ opportunity.created }}</td>  
                    </tr>
                    {% endfor %}  
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

{% endif %}

{% endblock %}