{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="bg-dark min-vh-100 d-flex align-items-center justify-content-center">

    <form class="p-5 bg-light rounded form-signin col-8 align-self-center" method="POST">

        {% if messages %}

            <ul class="messages list-unstyled">
                {% for message in messages %}
                    <li {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>

        {% endif %}

        <h1 class="mb-5">Log in to your account.</h1>

        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit">Log In</button>
        
        <p class="mt-5">Don't have an account? <a href="{% url 'register' %}">Apply for an account!</a></p>

    </form>


</div>

{% endblock %}