{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

{% load cloudinary %}      

<!-- {% cloudinary user.profile.image format="jpg" width=120 height=80 crop="fill" %} -->
<!-- https://cloudinary.com/documentation/django_image_and_video_upload#django_forms_and_models -->

{% if user.is_authenticated %}

<ol class="breadcrumb mb-0">
    <li class="breadcrumb-item" aria-current="page"><a class="text-decoration-none" href="{% url 'profile' %}">Profile</a></li>
</ol> 

{% if messages %}

<ul class="messages list-unstyled p-5 rounded">
    {% for message in messages %}
        <li {% if message.tags %} class="alert alert-{{ message.tags }} text-center" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>

{% endif %}

<div class="bg-dark min-vh-100 d-flex align-items-center justify-content-center">
    
    <form class="p-5 bg-light rounded form-signin col-8 align-self-center mt-5 mb-5" action="" method="POST" enctype="multipart/form-data">
        <h4 class="mb-5 text-center">Hi {{ user.username }}, would you like to update your profile?</h4>

        {% if "placeholder" in user.profile.image.url %}
            <div class="rounded-circle account-img d-flex justify-content-center mb-5">
                <img src="https://res.cloudinary.com/alexsd92/image/upload/v1652005948/media/static/default.jpg" alt="" style="height: 200px; width: 200px" class="rounded-circle account-img height:">
            </div>
        {% else %}
            <div class="rounded-circle account-img d-flex justify-content-center mb-5">{% cloudinary user.profile.image height=200 width=200 format="jpg" crop="thumb" radius="max" background="#F8F9FA" %}</div>        
        {% endif %}

        {% csrf_token %}
        {{ p_form|crispy }}
        {{ u_form|crispy }}

        <div class="col text-center">
            <button class="btn btn-primary" type="submit">Update!</button>
        </div>


    </form>

</div>

{% endif %}

{% endblock %}