{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

{% load cloudinary %}      

<!-- {% cloudinary user.profile.image format="jpg" width=120 height=80 crop="fill" %} -->
<!-- https://cloudinary.com/documentation/django_image_and_video_upload#django_forms_and_models -->

{% if user.is_authenticated %}

<div class="container mt-5">

    <h1 class="text-center">Hi {{ user.username }}, welcome to your profile.</h1>

    {% if "placeholder" in user.profile.image.url %}
        <img src="https://res.cloudinary.com/alexsd92/image/upload/v1652005948/media/static/default.jpg" alt="" class="rounded-circle account-img">
    {% else %}
        <!-- <img src="{{ user.profile.image.url }}" alt="" class="rounded-circle account-img"> -->
        <div class="rounded-circle">{% cloudinary user.profile.image height=200 width=200 format="jpg" crop="thumb" radius="max" background="#F8F9FA" %}</div>

        
    {% endif %}

    <div class="w-25 h-25 bg-dark"></div>

</div>

<div class="bg-dark min-vh-100 d-flex align-items-center justify-content-center">
    
    <form class="p-5 bg-light rounded form-signin col-6 align-self-center" action="" method="POST" enctype="multipart/form-data">

        <h1 class="mb-5">Register for an account.</h1>

        {% csrf_token %}
        {{ p_form|crispy }}
        {{ u_form|crispy }}

        <button class="btn btn-primary" type="submit">Register</button>

        <p class="mt-5">Already have an account? <a href="{% url 'login' %}">Get logged in!</a></p>

    </form>

</div>

{% endif %}

{% endblock %}