{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="bg-dark min-vh-100 d-flex align-items-center justify-content-center">
    
    <form class="p-5 bg-light rounded form-signin col-8 align-self-center" method="POST">

        <h1 class="mb-5">Apply for an account.</h1>

        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit">Apply</button>

        <p class="mt-5">Already have an account? <a href="{% url 'login' %}">Get logged in!</a></p>

    </form>

</div>

{% endblock %}